<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layouts/default}">
<head>	
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<th:block layout:fragment="styles">
		<link rel="stylesheet" type="text/css" href="syntax-highlighter/styles/shCore.css" media="all">
	    <link rel="stylesheet" type="text/css" href="syntax-highlighter/styles/shThemeMidnight.css" media="all">
	</th:block>		
<title>Documentation</title>	
</head>
  <body>
	<div layout:fragment="content">	
		<section id="about" class="about-area pt-100 pb-100">
			<div class="container">
			<div class="row align-items-center">
			<div class="col-lg-12">
			<div class="story-content">
							<h2 align="center"><span class="sp-1">Leaf Brain</span>  <span class="sp-2">API Documentation</span></h2>
							<p class="text-justify mt-30">
							This is a lightweight web service, (REST interface), which provides an easy way to access the Leaf Brain API. 
An API (Application programming interface) is a protocol intended to be used as an interface by software components to communicate with each other. 
Our API supports many methods, so there should not be a problem coding some nice applications. <br>
The API endpoints return the following data structure as below:
							</p>
							<div class="table-responsive">
							    <table class="table table-bordered table-striped">	
							    <thead>
							      <tr>
							        <th style="width: 25%"><h4><span class="sp-2">Caption</span></h4></th>
							        <th><h4><span class="sp-2">Descriptions</span></h4></th>							        
							      </tr>
							    </thead>						      
							      <tbody>
							        <tr>
							          <td>Title</td>
							          <td>
							          	<h3 style="text-decoration: underline"><span class="sp-1">Leaf Brain</span></h3><br>
							         	 <p class="text-justify">Artificial intelligence is an independent component of the system. AI is the gateway to enter the system. The main task of AI is to detect the input image and provide the prediction on the percentage. The green section in the progress bar represents the percentage that an input image is leaf and red section represents the percentage the input image is non-leaf.
For doing leaf detection we created an AI model using the TensorFlow library. For retraining our model we used  MobileNet V2 architecture. This architecture created a small sized model which was easy to deploy on mobile devices and other resource-constrained environments. The smaller sized model also performed tasks with faster speed.
        								 </p>
        							  </td>							   
							        </tr>
							         <tr>
							          <td>URL</td>
							          <td>
							          	<pre class="brush: html"> 
							        		https://leaf-brains.herokuapp.com/api/ai?file 
							        	</pre>
							          </td>							   
							        </tr>
							        <tr>
							          <td>Method</td>
							          <td>
							          	<pre class="brush: html"> 
							          		POST
							          	</pre>
							          </td>							   
							        </tr>
							        <tr>
							          <td>URL Params</td>
							          <td>
							          	<pre class="brush: php"> 
        									Type = "multipart/form-data"
        								</pre>
        							  </td>							   
							        </tr>
							        <tr>
							          <td>Data Params</td>
							          <td>
							          	<pre class="brush: javascript">
								         	{ 
								        		file = multipart
								        	}         									
        								</pre>
        							  </td>							   
							        </tr>
							        <tr>
							          <td>Success Response</td>
							          <td>
							          	<pre class="brush: javascript">
								        	Code: 200 
								        	Content: 
								        			 {
											        	  leaf: 99.79786
														  message: "success"
														  non leaf: 0.20213482
														  status: true
													  }
										</pre>	
									  </td>							   
							        </tr>
							        <tr>
							          <td>Error Response</td>
							          <td>
							          	<pre class="brush: javascript">
									        ERROR :  
									        		  {
													       readyState: 0,
													       getResponseHeader: f, 
													       getAllResponseHeaders: f, 
													       setRequestHeader: f, 
													       overrideMimeType: 
													       f, ..}
								       </pre>
								      </td>							   
							        </tr>
							        <tr>
							          <td>Sample Call</td>
							          <td>
							          	<pre class="brush: javascript">
									        $.ajax({
									        type: "POST",        
									        enctype: 'multipart/form-data',
									        url: 'https://leaf-brains.herokuapp.com/api/ai',
									        crossDomain: true,
									        data: data,        
									        processData: false, 
									        contentType: false,
									        cache: false,
									        timeout: 600000,
									        success : function(result) {
											        	console.log(result);      	
														
													}else{
														$("#postResultDiv").html("<strong>Error</strong>");
													}					
												},
										        error: function (e) {		
										            $("#result").text(e.responseText);
										            console.log("ERROR : ", e);          
										        }
								   			 });
								    	</pre>
								      </td>							   
							        </tr>
							        <tr>
							          <td>Notes</td>
							          <td>
							          	<p>Please feel free to contact us if you need any further information. <br>
							          	 <a href="https://plantrecognition.herokuapp.com/">https://plantrecognition.herokuapp.com</a>
							          	</p>
							          	
							          </td>							   
							        </tr>							        
							      </tbody>
							    </table>
							  </div>
						</div>
					</div>			  
				</div>
			</div>	
	</section>
</div>

<th:block layout:fragment="scripts">
	<script src="../static/syntax-highlighter/scripts/shCore.js" th:src="@{/syntax-highlighter/scripts/shCore.js/}"></script>
        <script src="../static/syntax-highlighter/scripts/shBrushXml.js" th:src="@{/syntax-highlighter/scripts/shBrushXml.js/}" ></script>
        <script src="../static/syntax-highlighter/scripts/shBrushCss.js" th:src="@{/syntax-highlighter/scripts/shBrushCss.js/}" ></script>
        <script src="../static/syntax-highlighter/scripts/shBrushJScript.js" th:src="@{/syntax-highlighter/scripts/shBrushJScript.js/}" ></script>
        <script src="../static/syntax-highlighter/scripts/shBrushPhp.js" th:src="@{/syntax-highlighter/scripts/shBrushPhp.js/}" ></script>
        <script type="text/javascript">
            SyntaxHighlighter.all()
        </script>
</th:block>	 
	</body>
</html>
